
.carrito {
    width: 30px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
}