.logueo {
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
}

.contenedor {
    background: #a27b5c;
    background: linear-gradient(180deg, #a27b5c 36%, rgba(44, 54, 57, 0.795837) 68%);
    font-family: "Oswald", sans-serif;
    padding: 10px;
    border: 1px solid #a27b5c;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
