.Card{
    align-items: center;
    border: 1px solid #ddd; /* Borde opcional para resaltar la tarjeta */
    border-radius: 8px; /* Borde redondeado opcional */
    overflow: hidden; /* Oculta cualquier contenido que supere los límites de la tarjeta */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra opcional para resaltar la tarjeta */
    width: calc(33.33% - 20px); /* Resta el espacio entre las tarjetas */
    margin-bottom: 20px;
}
Card.Img {
    display: flex;
    padding: 0;
    width: auto;
    align-items: center;
}

card.button{/* Estilos para el botón */
     
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #3498db;
      color: #ffffff;
      background-color: #3498db;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    /* Estilo cuando el mouse pasa sobre el botón */
    .button:hover {
      background-color: #ffffff;
      color: #3498db;
    }
    
