.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #a27b5c;
  background: linear-gradient(180deg, #a27b5c 36%, rgba(44, 54, 57, 0.795837) 68%);
  font-family: "Oswald", sans-serif;
  margin: 0px;
}


.ItemlistContainer-nav{
  width: 20px;
}

.logo-container {
  max-width: 100px;
  padding-left: auto; /* Ajusta el ancho máximo según tus necesidades */
}

.logo-img {
  width: 100%; /* Esto garantiza que el logo ocupe el 100% del contenedor */
  height: auto; /* Esto mantiene la proporción de aspecto */
}


