.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #a27b5c;
  background: linear-gradient(180deg, #a27b5c 36%, rgba(44, 54, 57, 0.795837) 68%);
  font-family: "Oswald", sans-serif;
  margin: 0px;
}

.categorys {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-size: 20px;
  color: #ffffff;
}

.nav-link:first-child {
  font-weight: bold;
}

.logo-container {
  max-width: 100px;
  padding-left: 1px;
  margin-right: 25rem;
}

.logo-img {
  width: 100%;
  height: auto;
}