


.logueo{
    width:3rem;
    padding: 0px;

}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #a27b5c 36%, rgba(44, 54, 57, 0.795837) 68%);
    padding: .5rem;
}
.email{
    width: 14rem;
    padding: 1rem;
}
.pass{
    width: 14rem;
    padding: 1rem;
}
